@forward "upperBar";
@forward "typer";
@forward "keyboard";

.main {
    width: 80%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-left: 64px;
    padding-bottom: 64px;
}

.fingers_img {
    text-align: center;

    img {
        width: 20rem;
        height: auto;
    }
}
